<a href="https://colab.research.google.com/github/SahilMalavi/CODSOFT/blob/Titanic-Servival-Prediction/Titanic_Servival_Prediction_TASK1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import numpy as np
import pandas as pd

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

df = pd.read_csv("/content/tested.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [20]:
df.shape

(418, 12)

In [ ]:
import missingno

missingno.bar(df)

In [44]:
df = df.drop(["PassengerId", "Ticket"], axis=1)
df["Title"] = df["Name"].apply(lambda x: x.split(",")[1].strip().split(" ")[0])

In [45]:

common_titles = ["Mr.", "Miss.", "Mrs."]
df["Title"] = [0 if x in common_titles else 1 for x in df["Title"]]
df["Cabin"] = [0 if str(x) == "nan" else 1 for x in df["Cabin"]]

In [46]:
embarked = pd.get_dummies(df["Embarked"])

In [47]:
df = pd.concat([df, embarked], axis=1)

In [48]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Title,C,Q,S
0,0,3,"Kelly, Mr. James",male,34.5,0,0,7.8292,0,Q,0,0,1,0
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,7.0000,0,S,0,0,0,1
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875,0,Q,0,0,1,0
3,0,3,"Wirz, Mr. Albert",male,27.0,0,0,8.6625,0,S,0,0,0,1
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,12.2875,0,S,0,0,0,1

In [49]:
mean_mr = df[df["Name"].str.contains('Mr.', na=False)]['Age'].mean().round()
mean_miss = df[df["Name"].str.contains('Miss.', na=False)]['Age'].mean().round()
mean_mrs = df[df["Name"].str.contains('Mrs.', na=False)]['Age'].mean().round()
mean_master = df[df["Name"].str.contains('Master.', na=False)]['Age'].mean().round()
mean_dr = df[df["Name"].str.contains('Dr.', na=False)]['Age'].mean().round()

print("Mr: ", mean_mr)
print("Miss: ", mean_miss)
print("Mrs: ", mean_mrs)
print("Master: ", mean_master)
print("Dr: ", mean_dr)

Mr:  34.0
Miss:  22.0
Mrs:  39.0
Master:  7.0
Dr:  34.0

In [50]:
ages = {
    "Mr.": 34.0,
    "Miss.": 22.0,
    "Mrs.": 39.0,
    "Master.": 7.0,
    "Dr.": 34.0
}

In [55]:

def age(text):
    name = text[0]
    age = text[1]

    if pd.isnull(age):
        for k, v in ages.items():
            if k in name:
                return v

    else:
        return age

In [ ]:
df['Age'] = df[['Name', 'Age']].apply(age, axis=1)

In [53]:

df.drop(["Name", "Embarked"], axis=1, inplace=True)
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Title,C,Q,S
0,0,3,male,34.5,0,0,7.8292,0,0,0,1,0
1,1,3,female,47.0,1,0,7.0000,0,0,0,0,1
2,0,2,male,62.0,0,0,9.6875,0,0,0,1,0
3,0,3,male,27.0,0,0,8.6625,0,0,0,0,1
4,1,3,female,22.0,1,1,12.2875,0,0,0,0,1